@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body {
    background: #F1F3F4;
    padding-left: 9vw;
    padding-right: 10vw;
    padding-top: 1.5vw;
    font-family: 'Be Vietnam Pro', sans-serif;
}

main {
    /* background: white; */
    height: 90vh;
    width: 80vw;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar img {
    height: 3vw;
}

.top-bar h2 {
    font-size: 1.5vw;
    margin-top: 0vw;
    font-style: normal;
    font-weight: normal;
}

.inline {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.side-bar {
    width: 30%;
    height: 40vw;
    /* background-color: aqua; */
}

.main-area {
    width: 70%;
    height: 40vw;
    margin-left: 3%;
    /* background-color: bisque; */
}

.song-card {
    width: 100%;
    height: 6.5vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

.format-bar {
    width: 100%;
    height: 26.5vw;
    margin-top: 1.2vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.copy-button {
    background: #918EFF;
    border-radius: 8px;
    width: 100%;
    height: 4vw;
    margin-top: 1.2vw;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.copy-button:hover {
    background-color: #7674D4;
}

.copy-button img {
    height: 1.1vw;
    margin-right: 0.5vw;
    margin-top: -1vw;
}

.song-card {
    display: flex;
}

.song-card img {
    height: 4.3vw;
    width: 4.3vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.22));
    border-radius: 10px;
}

.song-card h3 {
    font-family: 'Vidaloka', serif;
    font-size: 1.2vw;
    margin-top: 1.6vw;
    font-style: normal;
    font-weight: normal;
    margin-left: 1vw;
}

.song-card p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.9vw;
    margin-top: -0.7vw;
    color: #000000;
    opacity: 0.5;
    margin-left: 1vw;
}

.format {
    margin-left: 1.5vw;
    margin-top: 0.5vw;
}

.heading {
    display: flex;
}

.heading p {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 1.2vw;
    margin-top: 1.6vw;
}

.para-count {
    border: 2px solid #918EFF;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 1.1vw;
    width: 4vw;
    text-align: center;
    height: 2vw;
    padding: 0.1vw;
    margin-top: 1.4vw;
    margin-left: 1vw;
}

.para-count input {
    width: 4vw;
    height: 1.3vw;
    border: none;
    background: transparent;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 1.1vw;
    text-align: center;
    border-radius: 5px;
    padding: 0.1vw;
    margin-top: -1.4vw;
    margin-left: -0.3vw;
}

.para-count input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 0.45vw;
    border-radius: 4.5px;
    background: #d2d2d2;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    background: #918EFF;
    cursor: pointer;
}

input[type="radio"] {
    accent-color: mediumslateblue;
    height: 1.3vw;
    width: 1.5vw;
    margin-right: 0.3vw;
    vertical-align: sub;
}

input[type="radio"]:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: mediumslateblue;
    height: 1.3vw;
    width: 1.5vw;
    margin-right: 0.3vw;
    vertical-align: sub;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

label {
    font-size: 1.2vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-right: 1vw;
}

.search-area {
    display: flex;
    justify-content: space-between;
}

.search-box {
    width: 75%;
    height: 4.5vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.search-box input {
    height: 3vw;
    margin-top: 0.7vw;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2vw;
    margin-left: 1.5vw;
    border: none;
    width: 220%;
    background-color: transparent;
}

.search-box input:focus {
    outline: none;
}

.search-box img {
    height: 1.5vw;
    margin-top: 1.5vw;
    margin-right: 1vw;
}

.search-area button {
    height: 4.3vw;
    width: 23%;
    background: #918EFF;
    border-radius: 8px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.15vw;
    color: white;
    border: none;
}

.search-area button:hover {
    background-color: #7674D4;
}

.main-text {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    margin-top: 1.6vw;
    width: 99%;
    position: relative;
    z-index: 1;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.tag {
    margin-left: 1.5vw;
    background: #918EFF;
    border-radius: 4px;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
    width: fit-content;
    height: 2.2vw;
    padding-left: 1vw;
    padding-top: 0.7vw;
    margin-top: 0.7vw;
}

.tag img {
    height: 1.2vw;
    margin-top: 0.2vw;
}

.tag img:hover {
    cursor: pointer;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    border-bottom: none;
    border-top: none;
    position: relative;
    z-index: 99;
    top: 2vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.autocomplete-items div {
    font-size: 1.2vw;
    padding: 1.2vw;
    cursor: pointer;
    color: #000000;
    background: #FFFFFF;
    width: 38vw;
}

.autocomplete-items div:hover {
    color: #918EFF;
}

.autocomplete-active {
    color: #918EFF !important;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: initial;
}

iframe {
    width: 110%;
    height: 48vw;
    border: none;
    position: relative;
    top: -15vw;
    left: -5vw;
}

#no-results {
    color: black !important;
    opacity: 0.5;
}

#no-results:hover {
    color: black !important;
    opacity: 0.5;
}

#no-results:active {
    color: black !important;
    opacity: 0.5;
}

@media (max-width: 800px) {
    body {
        padding-left: 3vw;
        padding-right: 4vw;
        padding-top: 5vw;
    }

    main {
        /* background: white; */
        height: 90vh;
        width: 90vw;
    }

    .top-bar img {
        height: 7vw;
    }
    
    .top-bar h2 {
        font-size: 4vw;
        margin-top: 1vw;
        font-style: normal;
        font-weight: normal;
    }

    .main-area {
        width: 100%;
        height: 90vw;
        margin-left: 0%;
        /* background-color: bisque; */
        margin-top: 5vw;
    }

    .search-area {
        display: block;
        justify-content: center;
    }
    
    .search-box {
        width: 100%;
        height: 10vw;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
    }
    
    .search-box input {
        height: 3vw;
        margin-top: 3vw;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 3.5vw;
        margin-left: 5vw;
        border: none;
        width: 150%;
        background-color: white;
    }
    
    .search-box input:focus {
        outline: none;
    }
    
    .search-box img {
        height: 4vw;
        margin-top: 2.5vw;
        margin-right: 3vw;
    }

    .autocomplete-items div {
        font-size: 3.5vw;
        padding: 3vw;
        padding-left: 5vw;
        cursor: pointer;
        color: #000000;
        background: #FFFFFF;
        width: 82vw;
    }

    .tag {
        margin-left: 5vw;
        background: #918EFF;
        border-radius: 4px;
        /* transform: matrix(1, 0, 0, -1, 0, 0); */
        font-family: 'Be Vietnam Pro', sans-serif;
        color: white;
        display: flex;
        justify-content: space-between;
        font-size: 3vw;
        width: fit-content;
        height: 5.5vw;
        padding-left: 2vw;
        padding-top: 1vw;
        margin-top: 1.8vw;
    }

    .tag img {
        height: 3vw;
        margin-top: 0.5vw;
        margin-left: 2vw !important;
    }

    .search-area button {
        height: 9vw;
        width: 100%;
        background: #918EFF;
        border-radius: 5px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2.8vw;
        color: white;
        border: none;
        margin-top: 4vw;
    }

    .song-card {
        width: 100%;
        height: 23vw;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgb(0 0 0 / 8%);
        border-radius: 10px;
        margin-top: 4vw;
    }

    .song-card img {
        height: 16vw;
        width: 16vw;
        margin-top: 3.5vw;
        margin-left: 5vw;
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.22));
        border-radius: 10px;
    }

    .song-card h3 {
        font-family: 'Vidaloka', serif;
        font-size: 5vw;
        margin-top: 5vw;
        font-style: normal;
        font-weight: normal;
        margin-left: 5vw;
    }

    .song-card p {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 3vw;
        margin-top: -2.5vw;
        color: #000000;
        opacity: 0.5;
        margin-left: 5vw;
    }

    .format-bar {
        width: 97%;
        height: fit-content;
        margin-top: 5vw;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgb(0 0 0 / 8%);
        border-radius: 10px;
        padding-left: 3vw;
    }

    .heading p {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: bold;
        font-weight: 600;
        font-size: 3.5vw;
        margin-top: 5vw;
    }

    .para-count {
        border: 2px solid #918EFF;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: bold;
        font-weight: 600;
        font-size: 3.2vw;
        width: 12vw;
        text-align: center;
        height: 6vw;
        padding: 0.5vw;
        margin-top: 4vw;
        margin-left: 4vw;    
    }

    .para-count input {
        width: 12vw;
        height: 6vw;
        border: none;
        background: transparent;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: bold;
        font-weight: 600;
        font-size: 3.2vw;
        text-align: center;
        border-radius: 5px;
        padding: 0.1vw;
        margin-top: -1.4vw;
        margin-left: -1vw;
    }

    .slider {
        -webkit-appearance: none;
        width: 90%;
        height: 1vw;
        border-radius: 6px;
        background: #d2d2d2;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
        background: #918EFF;
        cursor: pointer;
    }

    .choices {
        width: 90% !important;
    }

    input[type="radio"] {
        accent-color: mediumslateblue;
        height: 5vw;
        width: 5vw;
        margin-right: 1.5vw;
        vertical-align: sub;
    }

    input[type="checkbox"] {
        accent-color: mediumslateblue;
        height: 5vw;
        width: 5vw;
        margin-right: 1.5vw;
        vertical-align: sub;
    }

    label {
        font-size: 3.2vw;
        font-family: 'Be Vietnam Pro', sans-serif;
        margin-right: 5vw;
    }

    .copy-button {
        background: #918EFF;
        border-radius: 5px;
        width: 100%;
        height: 9vw;
        margin-top: 5vw;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 2.8vw;
        color: white;
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    .copy-button img {
        height: 3vw;
    }

    .copy-button:hover {
        background-color: #7674D4;
    }

    .search-area button:hover {
        background-color: #918EFF;
    }

    .main-text {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        margin-top: -5vw;
        width: 100%;
        position: relative;
        z-index: 1;
    }

    iframe {
        width: 105%;
        height: 200vw;
        border: none;
        position: relative;
        top: -95vw;
        left: 0vw;
        margin-bottom: -120vw;
    }
}